h2,
h6,
h5 {
  text-align: center;
  font-family: Google Sans, Roboto, arial, sans-serif;
}

h2 {
  color: blueviolet;
  font-weight: bold;
}
h6 {
  margin: 0 auto;
  font-size: 15px;
}
.card-img-top {
  width: auto;
  height: 100px;
}

.cloudynight {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
  width: 50%;
}

p {
  text-align: center;
  font-size: 30px;
}

.Link {
  text-align: left;
  font-size: small;
  margin-right: auto;
  background-color: black;
}
